.main {
  padding: 10px;


  .presenterText {
    font-size: 16px;

    .presenterText__title {
      margin: 25px 0 0 0;
      font-size: 24px;
      font-family: 'Nunito', sans-serif;
    }

    .presenterText__content {

      p {
        max-width: 85%;
      }
    }
  }

  //.content {
  //  display: flex;
  //  justify-content: space-between;
  //  align-items: center;
  //
  //  p {
  //    width: 91%;
  //  }
  //
  //  button {
  //    width: 100px;
  //    height: 40px;
  //    background-color: #e8e80e;
  //    border-radius: 5px;
  //    border: 1px solid #444444;
  //    color: #474747;
  //  }
  //}
}