.header {
  background-color: #800000;
  height: 60px;
  color: whitesmoke;
  //color: #F5F5DC;

  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  align-items: center;

  img {
    height: 56px;
  }

  .NavBar {
    width: 40%;
    padding-right: 10px;

    .list {
      display: flex;
      justify-content: space-between;
      list-style: none;

      a {
        color: whitesmoke;
        text-decoration: none;
      }
    }
  }
}