.header {
  background-color: #800000;
  height: 60px;
  color: whitesmoke;

  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  align-items: center;

  img {
    height: 56px;
  }

  .NavBar {
    width: 100%;

    max-width: 560px;
    min-width: 422px;

    padding-right: 10px;

    .list {
      display: flex;
      justify-content: space-between;
      list-style: none;

      a {
        color: whitesmoke;
        text-decoration: none;
      }
    }
  }
}